In [9]:
#Que 1
marks = int(input("enter your marks"))
if marks > 90:
    print("A")
elif marks > 80 and marks<= 90:
    print("B")
elif marks >= 60 and marks<= 80:
    print("C")
else :
    print("D")

enter your marks 67

C

In [8]:
#Que 2
cost = int(input("enter cost price"))
if cost >100000:
    print("Tax is", cost * 0.15)
elif cost > 50000 and cost <= 100000:
    print("Tax is", cost * 0.10)
elif cost <= 50000 :
    print("Tax is", cost * 0.05)

enter cost price 150000

Tax is 22500.0

In [7]:
#Que 3
city = input("city name")
if city == "Delhi":
    print("Red Fort")
elif city == "Agra":
    print("Taj Mahal")
elif city == "Jaipur":
    print("Jal Mahal")
else:
    print("No data found")

city name Pune

No data found

In [5]:
#Que 4
number = int(input("enter number"))
if number <= 10 :
    print("Division is", number / 3)
else :
    print ("number out of range")

enter number 11

number out of range

In [7]:
#Que 5 
"""Loops in Python are used to repeat a block of code until a certain condition is met. 
They allow us to execute the same code multiple times, making the code more efficient and reduces the length of code. 
There are two types of loops in Python: for loops and while loops."""
#example for loop
l = [1,2,3,4,5]
for i in l :
    print(i,type(i))

1 <class 'int'>
2 <class 'int'>
3 <class 'int'>
4 <class 'int'>
5 <class 'int'>

In [2]:
#example for while loop
n = int(input("enter your number"))
i = 1

while i <= 10 :
    result = n * i
    print(n," * ", i , "=", result)
    i = i +1

enter your number 2

2  *  1 = 2
2  *  2 = 4
2  *  3 = 6
2  *  4 = 8
2  *  5 = 10
2  *  6 = 12
2  *  7 = 14
2  *  8 = 16
2  *  9 = 18
2  *  10 = 20

In [8]:
#Que 6 Tringle pattern, Pyramid Pattern, Diamond pattern
# printing a triangle pattern
for i in range(1, 6):
    for j in range(i):
        print("*", end="")
    print("")

*
**
***
****
*****

In [9]:
# printing a pyramid pattern
for i in range(1, 6):
    for j in range(5-i):
        print(" ", end="")
    for k in range(i):
        print("*", end="")
    print("")

    *
   **
  ***
 ****
*****

In [10]:
# printing a diamond pattern
for i in range(1, 6):
    for j in range(5-i):
        print(" ", end="")
    for k in range(2*i-1):
        print("*", end="")
    print("")
for i in range(4, 0, -1):
    for j in range(5-i):
        print(" ", end="")
    for k in range(2*i-1):
        print("*", end="")
    print("")

    *
   ***
  *****
 *******
*********
 *******
  *****
   ***
    *

In [12]:
# Que 7
number = 10
while number > 0:
    print(number)
    number -= 1

10
9
8
7
6
5
4
3
2
1